<style>
body {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-align: left;
background-color: #f7f7f7;
}
h1 {
font-size: 1.6em;
padding-left: 10px;
}
h2 {
font-size: 1.4em;
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
#  white-space: -moz-pre-wrap;
#  white-space: -pre-wrap;
#  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
td {
font-size: 0.9em;
padding: 2px;
}
.reportdesc {
font-size: 0.9em;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 10px;
width: 700px;
}
.page_section b {
font-size: 1.2em;
}
.page_section {
font-size: 0.9em;
float: left;
background-color: white;
padding: 10px;
margin: 10px;
text-align: left;
border: 2px solid white;
border-radius: 3px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.scrollable_table {
float: left;
overflow: auto;
height: 350px;
}
.scrollable {
border: 2px solid #ddd;
border-radius: 5px;
overflow: auto;
display: inline-block;
position: float;
height: 250px;
padding: 5px;
}
.scrollable tr:nth-child(even) {
background-color: #f7f7f7;
}
.scrollable tr:nth-child(odd) {
background-color: white;
}
.table2 {
border: 2px solid #708090;
border-radius: 5px;
background-color: #f7f7f7;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
.table1 tr:nth-child(even) {
background-color: #f7f7f7;
}
.table1 tr:nth-child(odd) {
background-color: white;
}
.table1 td {
padding-right: 10px;
}
.table3 {
border: 2px solid #708090;
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 10px;
}
.table3 tr:nth-child(even) {
background-color: #f7f7f7;
}
.table3 tr:nth-child(odd) {
background-color: white;
}
.table3 td {
padding-right: 10px;
}
.breakdown td{
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
padding: 2px;
}
.table4 td{
border-bottom: 1px solid #ddd;
padding-right: 10px;
}
.td_orange{
font-size: 0.9em;
background-color: #FF9757;
}
.td_green{
font-size: 0.9em;
background-color: #78AF43;
}
.td_red{
font-size: 0.9em;
background-color: #F6303E;
}
.page_heading {
padding-left: 15px;
}
.bar_chart_fl b {
font-size: 1.2em;
}
.bar_chart_fl {
font-size: 0.8em;
float: left;
background-color: white;
padding: 10px;
margin: 10px;
text-align: left;
border: 2px solid white;
border-radius: 3px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.hideme {
display: none;
}
.dummy {
text-align: center;
border: 2px solid white;
border-radius: 3px;
padding: 2px;
}
.failed {
background-color: #f63442;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.critical {
background-color: #f63442;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.high {
background-color: #ff9757;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.warning {
background-color: #ff9757;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.medium {
background-color: #f9c23b;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.passed {
background-color: #7bb147;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.low {
background-color: #7bb147;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
.info {
background-color: #0070b6;
color: white;
text-align: center;
border: 2px solid #708090;
border-radius: 3px;
padding: 2px;
}
pre {
overflow-x: auto;
white-space: pre-wrap;
word-wrap: break-word;
}
.floatleft {
float: left;
}
.floatright {
float: right;
}
.border1 {
border: 2px solid #4b4b4b;
border-radius: 5px;
background-color: white;
padding: 10px;
margin-bottom: 10px;
margin-top: 10px;
}
.plugout {
border: 2px solid black;
border-radius: 5px;
width: 70%;
background-color: #0d3d5c;
color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
.plugdesc {
border: 2px solid #708090;
border-radius: 5px;
background-color: #f7f7f7;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
.article_no_page {
padding-left: 30px;
padding-right: 30px;
margin-bottom: 20px;
background-color: #ececec;
border: 2px solid #4b4b4b;
color: black;
border-radius: 3px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
}
</style>
